<!DOCTYPE html>
<html lang="en" ng-app="happyApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Getting happy play book</title>

    <!-- Bootstrap -->
    <link href="bootstrap.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="container" ng-controller="TodoListController">

      <div class="page-header">
        <h1>Happiness todo list</h1>
        <p class="lead">Get happy!!!</p>
      </div>

      <div class="row">
        <div class="col-md-7" >

			<div class="form-group">				
				<input type="text" class="form-control" id="searchInput" placeholder="Search here" ng-model="searchTerm" ng-change="SearchChanged(searchTerm)">
			</div>

			<div class="todoList">
				<div ng-repeat="todo in Todos">
					<div class="content">{{todo.Body}}</div>
					<div class="actions"><button class="btn" ng-click="DoTodoItem(todo)">Done</button></div>
				</div>				
			</div>
        </div>

        <div class="col-md-5">
        <form role="form" ng-submit="CreateTodoItem(todoToCreate)">
		 
		  <div class="form-group">
		    <label for="todoBody">What to do</label>
		    <textarea class="form-control" rows="3" id="todoBody" ng-model="todoToCreate.Body" required></textarea>
		  </div>
		  
		  <button type="submit" class="btn btn-default">Add</button>
		</form>
        </div>


      </div>
      
    </div>
   
    <script src="angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>